* 
{
    font-family: Helvetica;
}

body
{
    width: 80%;
    height: 80%;
    margin:auto;
    margin-top: 120px;
}
  
h1 
{
    text-align: center;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-2/pattern.jpeg?_gl=1*1b2xi7o*_ga*Nzk3Nzk0MDQ1MS4xNzE0OTA0OTk2*_ga_3LRZM6TM9L*MTcxNTA2ODk5NC4xMi4wLjE3MTUwNjg5OTQuNjAuMC4w");
}

h2
{
    font-size: 32px;
    font-weight: bold;
    color:white;
}

h3
{
    font-weight: bold;
}

span
{
    font-weight: bold;
    color:blue;
}

#brush
{
    background-color: mediumspringgreen;
}

#frame
{
    background-color: lightcoral;
}

#paint
{
    background-color: skyblue;
}